@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


header{
    border-bottom:1px solid black;
    background-color: #FF5A33;
}

img{
    height: 200px;
}

body{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

nav{
    border-bottom:1px black;
    padding:16px;
}

main{
    padding:16px;
    margin-bottom: 98px;
}

footer{
    padding: 24px 0; /* vertical(top and bottom and hoz(L and R*/
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    background-color: #B4CF66;
}

a{
    text-decoration: none;
    color: #B4CF66 ;
}

a:hover{
    color:green;
}

#grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

h1{
    color:#146152;
}

table{
    display: grid;
}

tr:nth-child(even){
    background-color: lightgray;
}

ol{
    margin-right:50%;
}
